In [13]:
###########################
# 라이브러리 사용
import tensorflow as tf
import pandas as pd
 
###########################
# 데이터를 준비합니다. 
(독립, 종속), _ = tf.keras.datasets.cifar10.load_data()
print(독립.shape, 종속.shape)
print(종속.reshape(50000))
종속 = pd.get_dummies(종속.reshape(50000))  # 1차원 형태로 reshape
print(독립.shape, 종속.shape)

(50000, 32, 32, 3) (50000, 1)
[6 9 9 ... 9 1 1]
(50000, 32, 32, 3) (50000, 10)

In [2]:
###########################
# 모델을 완성합니다. 
X = tf.keras.layers.Input(shape=[32, 32, 3])
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

In [3]:
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
###########################
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1563/1563 [==============================] - 16s 10ms/step - loss: 2.0704 - accuracy: 0.3031
Epoch 2/10
1563/1563 [==============================] - 26s 17ms/step - loss: 1.6407 - accuracy: 0.4091
Epoch 3/10
1563/1563 [==============================] - 26s 17ms/step - loss: 1.5552 - accuracy: 0.4460
Epoch 4/10
1563/1563 [==============================] - 26s 17ms/step - loss: 1.5006 - accuracy: 0.4679
Epoch 5/10
1563/1563 [==============================] - 26s 16ms/step - loss: 1.4700 - accuracy: 0.4837
Epoch 6/10
1563/1563 [==============================] - 26s 16ms/step - loss: 1.4460 - accuracy: 0.4942
Epoch 7/10
1563/1563 [==============================] - 26s 17ms/step - loss: 1.4345 - accuracy: 0.5027
Epoch 8/10
1563/1563 [==============================] - 26s 17ms/step - loss: 1.4154 - accuracy: 0.5081
Epoch 9/10
1563/1563 [==============================] - 25s 16ms/step - loss: 1.4008 - accuracy: 0.5158
Epoch 10/10
1563/1563 [==============================] - 27s 17ms/step - loss: 1.4361 - accuracy: 0.5141

In [7]:
###########################
# 모델을 이용합니다. 
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.00  0.00  0.12  0.08  0.08  0.04  0.67  0.01  0.00  0.00
1  0.18  0.02  0.49  0.03  0.01  0.05  0.00  0.10  0.01  0.11
2  0.09  0.03  0.02  0.02  0.00  0.01  0.00  0.16  0.03  0.64
3  0.01  0.00  0.14  0.05  0.27  0.03  0.48  0.01  0.00  0.00
4  0.16  0.35  0.03  0.00  0.03  0.00  0.00  0.02  0.05  0.34

In [8]:
# 정답 확인
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0

In [9]:
# 모델 확인
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 62,006
Trainable params: 62,006
Non-trainable params: 0
_________________________________________________________________

In [11]:
import numpy as np
a = np.zeros((3,4))
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [12]:
a.shape

(3, 4)